.Triangle {
    width: 15rem;
    height: 15rem;
    background-color: #0d47a1;


    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.InvertedTriangle {
    width: 15rem;
    height: 15rem;
    background-color: #0d47a1;

    /* The points are: centered top, left bottom, right bottom */
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}